
<%- include("../partials/header.ejs") %> 
<%- include("../partials/navbar.ejs") %> 
<%- include("../partials/flash") %> 

  <div class="page-heading products-heading header-text">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="text-content">
            <h4>new arrivals</h4>
            <h2>R&D Products</h2>
          </div>
        </div>
      </div>
    </div>
  </div>





 <div class="products" >
    <div class="container">
      <div class="row">
        <div class="col-md-12" >
          <div class="filters">
            <ul>
                <li class="active" data-filter="*">All Products</li>
                <li data-filter=".des">Featured</li>
                <li data-filter=".dev">Flash Deals</li>
                <li data-filter=".gra">Last Minute</li>
            </ul>
          </div>
        </div>






<div class="row">

  <%for(let product of products){%> 
        <div class="col-md-4">
          <div class="product-item">
            
              <a href="#"><img src="<%=product.img%>" style="height: 240px;" alt=""></a>
            <div class="down-content">
              <a href="#"><h4><%=product.name%></h4></a>
              <h6 style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">₹ <%=product.price%></h6>
              <p><%=product.desc.substring(0,70)%>...</p>
              <ul class="stars">
                <li><i class="fa fa-star"></i></li>
                <li><i class="fa fa-star"></i></li>
                <li><i class="fa fa-star"></i></li>
                <li><i class="fa fa-star"></i></li>
                <li><i class="fa fa-star"></i></li>
              </ul>
              <span>Reviews (24)</span>
             
            </div>
            <div class="text-center mb-4"  >
              <a href="/products/<%=product._id%> " class="btn btn-sm btn-outline-primary">View Product</a>
            </div>
           
          </div>
        </div>
        <% }%>
      </div>  
    </div>
  </div>
    
</div>


<%- include("../partials/footer") %> 




